@font-face {
    font-family: 'georgia-regular';
    src: url('../../assets/fonts/georgia-regular.woff2') format('woff2'),
         url('../../assets/fonts/georgia-regular.woff') format('woff'),
         url('../../assets/fonts/georgia-regular.ttf')  format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'georgia-italic';
    src: url('../../assets/fonts/georgia-italic.woff2') format('woff2'),
         url('../../assets/fonts/georgia-italic.woff') format('woff'),
         url('../../assets/fonts/georgia-italic.ttf')  format('truetype');
    font-weight: 400;    
    font-style: italic; 
}

@font-face {
    font-family: 'georgia-bold';
    src: url('../../assets/fonts/georgia-bold.woff2') format('woff2'),
         url('../../assets/fonts/georgia-bold.woff') format('woff'),
         url('../../assets/fonts/georgia-bold.ttf')  format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'arial-regular';
    src: url('../../assets/fonts/arial-regular.woff2') format('woff2'),
         url('../../assets/fonts/arial-regular.woff') format('woff'),
         url('../../assets/fonts/arial-regular.ttf')  format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'arial-italic';
    src: url('../../assets/fonts/arial-italic.woff2') format('woff2'),
         url('../../assets/fonts/arial-italic.woff') format('woff'),
         url('../../assets/fonts/arial-italic.ttf')  format('truetype');
    font-weight: 400;
    font-style: italic;
}

a {
    text-decoration: none;
    color: #CDCDCD;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: url(../../assets/images/main/header_bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    height: 908px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -8px;
}

.menu__item {
    margin-left: 37px;
    line-height: 27px;
}

.header__main {
    display: flex;
    justify-content: space-between;
}

.header__content {
    width: 460px;
    height: 322px;
}

.header__title {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: #FFFFFF;
    width: 310px;
    height: 114px;
    margin-top: 163px;
    margin-bottom: 42px;
}

.header__text {
    font-family: 'arial-regular';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    padding-bottom: 22px;
}

.header__button {
    width: 120px;
    height: 25px;
    background-color: #F1CDB3;
    border-radius: 100px;
    color: #292929;
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;  
    padding: 15px 45px;   
    display: inline-block;
    letter-spacing: 1px;
}







  
  
  
 