@font-face {
    font-family: 'georgia-regular';
    src: url('../../assets/fonts/georgia-regular.woff2') format('woff2'),
         url('../../assets/fonts/georgia-regular.woff') format('woff'),
         url('../../assets/fonts/georgia-regular.ttf')  format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'georgia-italic';
    src: url('../../assets/fonts/georgia-italic.woff2') format('woff2'),
         url('../../assets/fonts/georgia-italic.woff') format('woff'),
         url('../../assets/fonts/georgia-italic.ttf')  format('truetype');
    font-weight: 400;    
    font-style: italic; 
}

@font-face {
    font-family: 'georgia-bold';
    src: url('../../assets/fonts/georgia-bold.woff2') format('woff2'),
         url('../../assets/fonts/georgia-bold.woff') format('woff'),
         url('../../assets/fonts/georgia-bold.ttf')  format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'arial-regular';
    src: url('../../assets/fonts/arial-regular.woff2') format('woff2'),
         url('../../assets/fonts/arial-regular.woff') format('woff'),
         url('../../assets/fonts/arial-regular.ttf')  format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'arial-italic';
    src: url('../../assets/fonts/arial-italic.woff2') format('woff2'),
         url('../../assets/fonts/arial-italic.woff') format('woff'),
         url('../../assets/fonts/arial-italic.ttf')  format('truetype');
    font-weight: 400;
    font-style: italic;
}
/* * {
    border: 1px solid #f0f;
    } */

a {
    text-decoration: none;
    color: #CDCDCD;
}

.noscroll {
    overflow-y: hidden;
}
.scroll {
    overflow-y: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    max-width: 1280px;
    margin: 0 auto;
    background: url(../../assets/images/header_bg.jpg);
    background-image: url(../../assets/images/header_bg_grad.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    background-position: top center;
    background-repeat: no-repeat;
    height: 912px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 54px;
    padding-bottom: 51px;
}

.header__logo-title {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: 2px;
    color: #F1CDB3;
    margin: 4px 0;
    padding: 0;
}

.header__logo-subtitle {
    font-family: 'arial-regular';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.4px;
    color: #FFFFFF;
    margin-left: 3px;
}

.header__burger {
    display: none;
    position: relative;
    width: 30px;
    height: 22px;
    background-color: transparent;
    cursor: pointer;
}

.burger__logo--active {
    width: 184px;
}

.burger__header {
    display: none;
    padding: 30px 53px 0 10px;
    width: 100%;
    justify-content: flex-end;
    gap: 25px;
}

.header__burger--active {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    top: 25px;
    transition: ease .3s;
}

.header__burger--active::before,
.header__burger--active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #F1CDB3;
    transform: rotate(90deg);
}

.burger__line--active {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 13px;
    background-color: #F1CDB3;
    transform: rotate(90deg);
}

.header__burger--active::before{
    top: 13px;
    left: -10px;
}

.header__burger--active::after {
    top: 13px;
    left: 10px;
}

.burger__line {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F1CDB3;
}

.header__burger::before,
.header__burger::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #F1CDB3;
}
.header__burger::before{
    top: 0;
}

.header__burger::after {
    bottom: 0;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -8px;
}

.menu__item {
    margin-left: 32px;
}

.menu__link {
    font-family: 'arial-regular';
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #CDCDCD;
}

.menu__link:hover {
    color: #FAFAFA;
    transition: .3s;
}

.menu__link-active {
    border-bottom: 3px solid #F1CDB3;
    color: #FAFAFA;
    padding-bottom: 5px;
}

.menu__shadow {
    opacity: 0;
    position: fixed;
    background-color: rgba(41, 41, 41, 0.6);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    transition: all ease 2s;
}
.menu__shadow--active {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

.header__main {
    display: flex;
    justify-content: space-between;
}

.header__content {
    width: 460px;
    height: 322px;
}

.header__title {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: #FFFFFF;
    width: 310px;
    height: 114px;
    margin-top: 163px;
    margin-bottom: 40px;
}

.header__text {
    font-family: 'arial-regular';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    padding-bottom: 24px;
}

.header__button {
    width: 207px;
    height: 52px;
    background-color: #F1CDB3;
    border-radius: 100px;
    color: #292929;
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;  
    padding: 15px 45px;   
    display: inline-block;
    letter-spacing: 1px;
}

.header__button:hover {
    background-color: #FDDCC4;
    transition: 0.2s;
}

.main {
    max-width: 1280px;
    margin: 0 auto;
}

.about {
    height: 588px;
}

.about__wrapper {
    display: flex;
    height: 408px;
}

.about__image {
    margin-top: 75px;
    margin-left: 175px;
}

.about__content {
    width: 430px;
    margin: 55px 120px;
}

.about__title {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
    color: #545454;
    width: 370px;
}

.about__text {
    font-family: 'arial-regular';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
}

.top__text {
    display: inline-block;
    margin-top: -10px;
    margin-bottom: 10px;
}

.friends {
    background-color: #F6F6F6;
    height: 877px;
    font-family: 'georgia-regular';
    font-weight: 400;
}

.friends__wrapper {
    text-align: center;
    position: relative;
}

.friends__title {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
    color: #545454;
    margin-top: 80px;
    display: inline-block;
    width: 400px;
    margin-bottom: 60px;
}

.friends__left-arrow {
    position: absolute;
    content: none;
    width: 52px;
    height: 52px;
    top: 417px;
    left: 7px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: transparent;
}

.friends__left-arrow:hover {
    cursor: pointer;
    background-color: #FDDCC4;
    border: hidden;
    transition: 0.3s;
}

.friends__right-arrow {
    position: absolute;
    content: none;
    width: 52px;
    height: 52px;
    top: 417px;
    right: -7px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: transparent;
}

.friends__right-arrow:hover {
    cursor: pointer;
    background-color: #FDDCC4;
    border: hidden;
    transition: 0.3s;
}

@keyframes move-right {
    from {left: -990px;}
    to {left: 0px}
}

@keyframes move-left {
    from {left: -990px}
    to {left: -1980px;}
}

.transition-right {
    animation-name: move-right;
    animation-duration: 2s;
}

.transition-left {
    animation-name: move-left;
    animation-duration: 2s;
}

.slider__wrapper {
    display: flex;
    justify-content: space-between;
    width: 990px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 56px;
    /* position: relative; */
}

.slider__item-wrapper {
    display: flex;
    position: relative;
    left: -990px;
    transition: all ease 2s;
}

.slider__item-box {
    position: relative;
    display: flex;
    gap: 90px;
    transition: all ease 2s;
}

.slider__item-box-left {
    position: relative;
    display: flex;
    gap: 90px;
    transition: all ease 2s;
}

.slider__item-box-right {
    position: relative;
    display: flex;
    gap: 90px;
    transition: all ease 2s;
}

.slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    width: 270px;
    height: 435px;
    border-radius: 9px;
    pointer-events: all;
}

.slider__item:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #FFFFFF;
    transition: .3s;
}

.slider__item:hover a {
    background-color: #FDDCC4;
    border: hidden;
    transition: 0.3s;
}

.item__image:hover {
    cursor: pointer;
}

.item__name {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.item__name:hover {
    cursor: pointer;
}

.item__button {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1px;
    display: inline-block;
    width: 187px;
    height: 52px;
    padding: 15px 38px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    text-align: center;
    color: #292929;
}

.friends__button {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #292929;
    border-radius: 100px;
    background-color: #F1CDB3;
    padding: 15px 48px;
    display: inline-block;
    text-align: center;
}

.friends__button:hover {
    background-color: #FDDCC4;
    transition: .3s;
}

.friends__popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 100vh;
}

.popup--active {
    display: block;
}

.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
    cursor: pointer;
}

.popup__wrapper {
    display: flex;
    justify-content: space-between;
    width: 900px;
    max-height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FAFAFA;
    border-radius: 9px;
    position: fixed;
    z-index: 999;
}

.popup__close {
    position: absolute;
    background-image: url(../../assets/icons/cross.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    background-color: #FFFFFF;
    opacity: 0.3;
    top: -50px;
    right: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popup__image-item {
    width: 500px;
    max-height: 500px;
    display: block;
}

.popup__title {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
    margin: 50px auto 10px 30px;
}

.popup__subtitle {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 2px;
    margin: 0 auto 40px 30px;
}

.popup__text {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 1px;
    display: inline-block;
    margin: 0 20px 40px 30px;
}

.popup__list {
    padding: 0;
    margin: 0 0 0 44px;
}

.popup__list-item {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 1px;
    display: block;
    position: relative;
}

.popup__list-item:not(:last-child) {
    margin-bottom: 10px;
}

.popup__list-item::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    background-color: #F1CDB3;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
}

.popup__list-item span {
    font-weight: 700;
}

.help {
    height: 611px;
    text-align: center;
}

.help__title {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
    max-width: 328px;
    text-align: center;
    color: #545454;
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 55px;
}

.help__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px 121px;
}

.help__item {
    display: flex;
    flex-direction: column;
    max-width: 165px;
    max-height: 113px;
    align-items: center;
}

.help__item-image {
    padding-bottom: 11px;
}

.help__item-name {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #545454;
}

.donation {
    background-color: #F6F6F6;
    height: 462px;
}

.donation__wrapper {
    display: flex;
}

.donation__image {
    margin-top: 92px;
    margin-left: 145px;
}

.donation__content {
    max-width: 380px;
    max-height: 282px;
    margin-left: 28px;
    margin-top: 84px;
}

.donation__title {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 2.2px;
    max-width: 300px;
    color: #545454;
    margin: -3px 0 25px;
    padding: 0;
}

.donation__bank {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.donation__acc {
    font-family: 'georgia-regular';
    font-weight: 400;
    display: inline-block;
    width: 350px;
    height: 43px;
    border-radius: 9px;
    background-color: #F1CDB3;
    color: #545454;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.1px;
    text-align: center;
    align-items: center;
    border: none;
    padding: 10px 15px 10px 62px;
    position: relative;
    margin-bottom: 6px;
}

.donation__acc::before {
    position: absolute;
    content: url(../../assets/icons/credit_card.svg);
    width: 30px;
    height: 23px;
    top: 8px;
    left: 15px;
}

.donation__acc:hover {
    cursor: pointer;
    background-color: #FDDCC4;
    transition: .3s;
}

.donation__text {
    font-family: 'arial-italic';
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.footer {
    background: url(../../assets/images/footer-bg.jpg);
    background-image: url(../../assets/images/footer_bg_grad.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
    background-position: top center;
    background-repeat: no-repeat;
    max-width: 1280px;
    margin: 0 auto;
    height: 350px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
}

.footer__qa {
    width: 288px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'georgia-regular';
    font-weight: 400;
}

.qa__title {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-top: 20px;
}

.qa__email {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.4px;
    color: #F1CDB3;
    margin-bottom: 48px;
    position: relative;
    left: 59px;
    padding-top: 9px;
}

.qa__email::before {
    position: absolute;
    content: url(../../assets/icons/icon_email.svg); 
    top: 3px;
    left: -59px;
}

.qa__phone {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.4px;
    color: #F1CDB3;
    position: relative;
    left: 58px;
}

.qa__phone::before {
    position: absolute;
    content: url(../../assets/icons/icon_phone.svg);
    top: -5px;
    left: -58px;
}

.footer__visit {
    width: 302px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'georgia-regular';
    font-weight: 400;
}

.footer__image {
    display: block;
    margin-top: 6px;
}

.visit__title {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: -5px;
}

.visit__entrance {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.1px;
    color: #F1CDB3;
    position: relative;
    left: 39px;
    margin-top: -3px;
    padding-bottom: 36px;
}

.visit__entrance::before {
    position: absolute;
    content: url(../../assets/icons/icon_marker.svg);
    top: 5px;
    left: -44px;
}

.visit__address {
    font-family: 'georgia-regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.1px;
    color: #F1CDB3;
    position: relative;
    left: 39px;
}

.visit__address::before {
    position: absolute;
    content: url(../../assets/icons/icon_marker.svg);
    top: -4px;
    left: -44px;
}

@media screen and (max-width: 1279px) {
    .container {
        width: 768px;
    }
    .header {
        width: 768px;
        height: 1165px;
        background-size: cover;
    }
    .header__top {
       padding: 25px 30px 46px;
    }
    .header__menu {
        margin: 0;
        padding: 0;
        margin-top: -15px;
    }
    .header__main {
        display: flex;
        flex-direction: column;
        height: 1015px;
        width: 569px;
        margin: 0 auto;
    }
    .header__content {
        width: 570px;
        height: 322px;
        display: flex;
        flex-direction: column;
        padding: 0 55px;
    }
    .header__title {
        margin: 0;
        margin-bottom: 42px;
    }
    .header__text {
        padding: 0;
        margin: 0;
        margin-bottom: 42px;
    }
    .header__button {
        width: 207px;
        height: 52px;
        margin: 0 auto;
    }
    .header__image img {
        display: block;
        width: 569px;
        height: 593px;
        margin-left: 70px;
    }
    .about {
        width: 768px;
        height: 1048px;
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }
    .about__wrapper {
        display: flex;
        flex-direction: column-reverse;
        margin: 99px 50px;
    }
    .about__content {
        width: 430px;
        height: 380px;
    }
    .about__image {
        margin-top: 55px;
        margin-left: 185px;
    }
    .about__image img {
        max-width: 300px;
        max-height: 408px;
    }
    .friends__wrapper {
        width: 708px;
        margin: 0 auto;
    }
    .friends__title {
        margin-bottom: 65px;
    }
    .friends__left-arrow {
        left: -65px;
    }
    .friends__right-arrow {
        right: -65px;
    }
    .slider__wrapper {
        width: 580px;
    }
    .slider__item-wrapper {
        left: -580px;
    }
    .slider__item-box {
        gap: 40px;
    }
    .slider__item-box-left {
        gap: 40px;
    }
    .slider__item-box-right {
        gap: 40px;
    }
    @keyframes move-right {
        from {left: -580px;}
        to {left: 0px}
    }
    @keyframes move-left {
        from {left: -580px}
        to {left: -1160px;}
    }
    .slider__item:nth-child(3) {
        display: none;
    }
    .friends__popup {
        width: 768px;
    }
    .popup__wrapper {
        width: 630px;      
    }
    .popup__image-item {
        width: 350px;
        height: 350px;
    }
    .popup__title {
        margin: 10px auto 10px 11px;
    }
    
    .popup__subtitle {
        margin: 0 auto 20px 11px;
    }
    
    .popup__text {
        margin: 0 auto 20px 11px;
    }
    
    .popup__list {
        margin: 0 0 0 25px;
    }
    .popup__list-item:not(:last-child) {
        margin-bottom: 6px;
    }
    .popup__list-item::before {
        left: -14px;
    }
    .help {
        height: 779px;
    }
    .help__content {
        width: 630px;
        height: 449px;
        display: flex;
        gap: 57px 65px;
        margin-left: 70px;
    }
    .help__item {
        width: 170px;
        height: 113px;
    }
    .donation {
        height: 783px;
    }
    .donation__wrapper {
        flex-direction: column-reverse;
    }
    .donation__title {
        line-height: 44px;
    }
    .donation__content {
        width: 380px;
        margin: 85px auto;
    }
    .donation__bank {
        margin-bottom: 15px;
    }
    .donation__acc::before {
        top: 9px;
    }
    .donation__image {
        margin-top: -30px;
        margin-left: 130px;
    }
    .footer {
        height: 639px;
        width: 768px;
        background-size: cover;
    }
    .qa__title {
        letter-spacing: 2.2px;
    }
    .qa__email {
        left: 62px;
        letter-spacing: 1.2px;
    }
    .qa__phone {
        left: 61px;
    }
    .visit__title {
        margin-left: 0;
    }
    .visit__entrance {
        left: 40px;
        letter-spacing: 1.2px;
        padding: 0;
        margin-bottom: 37px;
    }
    .visit__entrance::before {
        top: 7px;
        left: -42px;
    }
    .visit__address {
        letter-spacing: 1.2px;
    }
    .visit__entrance::before {
        left: -42px;
    }
    .footer__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 71px 55px;
        padding: 10px;
    }
    .footer__image {
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 320px;
    }
    .header {
        width: 320px;
        height: 823px;
        background-size: cover;
    }
    .visible {
        visibility: hidden;
    }
    .burger__header {
        display: flex;
    }
    .header__logo-title {
        margin: 5px 0 10px -20px;
        line-height: 33px;
    }
    .header__logo-subtitle {
        margin-left: -17px;     
    }
    .header__burger {
        display: block;
        margin: -10px 23px 0;
        transition: ease .3s;
    }
    .active-burger {
        transform: rotate(90deg);
    }
    .inactive-burger {
        transform: rotate(90deg);
    }
    .header__menu {
        position: fixed;
        right: -1000px;
        top: 0;
        background-color: #292929;
        z-index: 999;
        width: 320px;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        gap: 150px;
        transition: ease-in-out 1.5s;
    }
    .active {
        right: 0;
    }
    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .menu__item {
        margin: 0;
        padding: 0;
    }
    .menu__item {
        margin-bottom: 40px;
    }
    .menu__link {
        font-size: 30px;
    }
    .header__main {
        width: 300px;
        height: 673px;
    }
    .header__content {
        width: 300px;
        height: 296px;
        text-align: center;
        padding: 0;
        margin: 0 auto;
    }
    .header__title {
        width: 300px;
        font-size: 25px;
        line-height: 32px;
        padding: 0 25px;
        letter-spacing: 1.5px;
    }
    .header__image img {
        width: 260px;
        height: 272px;
        margin-left: 40px;
    }
    .about {
        width: 320px;
        height: 974px;
        margin: 0 auto;
        justify-content: flex-end;
    }
    .about__wrapper {
        height: 890px;
        margin: 0;
        width: 320px;
        justify-content: flex-end;
    }
    .about__image {
        margin-top: 200px;
        margin-left: 30px;
    }
    .about__image img {
        width: 260px;
        height: 354px;
    }
    .about__content {
        width: 320px;
        margin: 0;
    }
    .about__title {
        width: 320px;
        font-size: 25px;
        line-height: 32px;
        margin: 0;
        margin-bottom: 25px;
        padding: 42px 20px 0;
        letter-spacing: 1.4px;
        text-align: center;
    }
    .about__text {
        width: 270px;
        margin: 0 auto;
        text-align: justify;
    }
    .top__text {
        margin: 0 0 10px;
    }
    .friends {
        height: 791px;
    }
    .friends__wrapper {
        width: 320px;
    }
    .friends__title {
        margin: 42px 0;
        font-size: 25px;
        line-height: 33px;
        width: 300px;
        letter-spacing: 1.4px;
    }
    .slider__wrapper {
        width: 270px;
    }
    .slider__item-wrapper {
        left: -270px;
    }
    .slider__item-box {
        gap: 20px;
    }
    .slider__item-box-left {
        gap: 20px;
    }
    .slider__item-box-right {
        gap: 20px;
    }
    @keyframes move-right {
        from {left: -270px;}
        to {left: 0px}
    }
    @keyframes move-left {
        from {left: -270px}
        to {left: -540px;}
    }
    .slider__item:nth-child(2) {
        display: none;
    }
    .friends__left-arrow {
        top: 601px;
        left: 67px;
    }
    .friends__right-arrow {
        top: 601px;
        right: 67px;
    }
    .friends__button {
        margin-top: 110px;
    }
    .friends__popup {
        width: 320px;
    }
    .popup__wrapper {
        width: 240px;    
    }
    .popup__close {
        right: -30px;
    }
    .popup__image-item {
        display: none;
    }
    .popup__title {
        margin: 10px 39px 10px;
    }
    .popup__subtitle {
        margin: 0 34px 20px;
    }  
    .popup__text {
        margin: 0 10px 24px 10px;
    }   
    .popup__list {
        margin: 0 0 0 25px;
    }
    .popup__list-item:not(:last-child) {
        margin-bottom: 5px;
    }
    .popup__list-item::before {
        left: -12px;
    }
    .help {
        height: 745px;
    }
    .help__title {
        margin: 42px auto;
        font-size: 25px;
        line-height: 33px;
        letter-spacing: 1.4px;
    }
    .help__content {
        width: 290px;
        margin: 4px 0 0 15px;
        gap: 30px;
        justify-content: space-between;
    }
    .help__item {
        width: 130px;
        height: 87px;
    }
    .help__item-image {
        width: 50px;
        height: 50px;
        padding: 0;
    }
    .help__item-name {
        font-size: 15px;
        line-height: 17px;
    }
    .donation {
        height: 542px;
    }
    .donation__content {
        margin: 0 auto;
        width: 300px;
        text-align: center;
    }
    .donation__title {
        font-size: 25px;
        line-height: 33px;
        letter-spacing: 1.4px;
        margin: 42px auto 22px;
        width: 227px;
    }
    .donation__bank {
        letter-spacing: 0px;
        margin-bottom: 25px;
    }
    .donation__acc {
        width: 281px;
        height: 43px;
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0.5px;
        padding: 13px 15px 13px 60px;
    }
    .donation__acc::before {
        top: 9px;
        left: 15px;
    }
    .donation__text {
        text-align: justify;
        padding: 0 10px;
    }
    .donation__image {
        margin-top: 85px;
        margin-left: 30px;
    }
    .donation__image img {
        width: 260px;
        height: 135px;
    }
    .footer {
        width: 320px;
        height: 809px;
        margin: 0 auto;
    }
    .footer__wrapper {
        gap: 0;
    }
    .qa__title {
        text-align: center;
        font-size: 25px;
        line-height: 33px;
        letter-spacing: 1.4px;
        margin-bottom: 35px;
    }
    .visit__title {
        text-align: center;
        width: 270px;
        font-size: 25px;
        line-height: 33px;
        letter-spacing: 1.4px;
        margin: 45px auto 40px;
    }
    .qa__email {
        left: 78px;
        width: 200px;
    }
    .qa__phone {
        left: 82px;
        width: 200px;
    }
    .visit__entrance {
        width: 260px;
        left: 44px;
        margin-bottom: 45px;
        padding: 0;
    }
    .visit__address {
        width: 240px;
        left: 44px;
    }
    .footer__image {
        margin-top: 44px;
    }
    .footer__image img {
        width: 260px;
        height: 269px;
    }
}





  
  
  
 